
    <!-- This page is designed for the user to enter email and password to login.
     if a new user visits, then there is a register routed below login button to take to registration page -->
  
    <div class="content">
      <h1>Student Management</h1>
      
    <div class="wrapper">
      <!--<span class="icon-close"><ion-icon name="close"></ion-icon></span>-->
      <!--<button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>-->
      
       
  
      <div class="form-box login">
        <h2>Login</h2>
        <form action="#">
          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" name="email" required [(ngModel)]="email">
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password"  maxlength="15" name="password" required [(ngModel)]="password">
            <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>
            <a href="forgot-password">Forgot Password?</a>
          </div>
          <button type="submit" class="btn" (click)=checkLogin()>Login</button>
          <div class="login-register">
            <p>Don't have an account? <a href="register-page" class="register-link">Register</a></p>
            <p id="e" style="color: rgb(225, 15, 15); font-size: large;font-weight: bold;">{{emessage}}</p>
          </div>
        </form>
      </div>
    </div>
    </div>

   
   <!--<script src="script.js"></script>
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>-->
  
   
