<!-- 
<section class="about" id="about">

    <div class="image">
        <img src=".\assets\about-img.svg" alt="">
    </div>

    <div class="content">
        <span>About us</span>
        <h3>Best online platform for e-learning.</h3>
        <p>In order to make our future leaders,we are providing a e-platform.</p>
    </div>

</section> -->
<div class="content">

    <span><b>online education</b></span>   
    <h2><b>Best online platform for e-learning.</b> <img src=".\assets\learn.avif" alt="" width="500" height="400"></h2>
    <p><b>In order to make our future leaders,we are providing a e-platform.</b></p>
   
   <!-- <a href="#courses" class="btn">our courses</a>-->
</div>

