/* Styling Course component html page to be responsive and impressive */

.d-flex{
    justify-content: center;
}

.dropdown{
    justify-content: center;
    margin-left: 47%;
    margin-bottom: 8%;

}


.form-check{
    margin-top: 7%;
}
