<!-- When a user wants to logout, they could simply click on logout button.
    When clicked it will show a popup of confirmation to proceed to logout.
    once clicked OK in popup confirmation, the user will have an option to go to home page
    or to login again. -->

<div class="box">
    <div class="container">
        <div>
            <span>You have been successfully logged out. </span>
        </div>
        <div>
            <span>THANK YOU!!!</span>
        </div>
        <div class="text-center pt-4 text-muted">
            <span class="text">Click here to login again <a href="login-page">Login</a></span>
       
        </div>
    </div>
  </div>
