*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    background: linear-gradient(#141e30, #243b55);
    width:100vh;
    height: 100vh;
    font-family: sans-serif;
}*/
.main{
    position: absolute;
    top: 25%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    padding: 1px;
    background: #0aeff0;
    box-shadow: 0 0 5px rgb(0 0 0 /.5), 0 0 25px rgba(0 0 0 /.5) 0 0 50px rgba(0 0 0 /0.5), 0 0 100px #03e9f4 #03e9f4;
    border-radius: 10px;
}
.password-box{
    width: 400px;
    padding: 40px;
    background: rgba(0 0 0 /.9);
    box-sizing: border-box;
    border-radius: 10px;
}
.password-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.password-box .user-box{
    position: relative;
}
.password-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.password-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.password-box .user-box input:focus ~ label,.password-box .user-box input:valid~label{
    top: -20px;
    left: 0;
    color: #da0a0a;
    font-size: 12px;
}
.password-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ed1212;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;         
    margin: 30%;
}
.password-box a:hover{
    background: #07989b;
    color: #fff;
    border-radius:5px ;
   
}
.password-box a span{
    position: absolute;
    display: block;
}
.password-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #06a199);
    animation: btn1 1s linear infinite;
}
@keyframes btn1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
.password-box a span:nth-child(2){
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #5b125c);
    animation: btn2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
.password-box a span:nth-child(3){
    right: -100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #5b125c);
    animation: btn2 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
.password-box a span:last-child{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #5b125c);
    animation: btn4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn3{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}