<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    
</head>

<body>
    <div class="main">
        <div class="password-box">
            <h2>Reset Password</h2>
            <form>
                <div class="user-box">
                    <input type="email" name="email" required [(ngModel)]="email">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required [(ngModel)]="password">
                    <label>New Password</label>
                </div>
                <div class="user-box">
                    <input type="password" name="confirmPassword" required [(ngModel)]="confirmPassword">
                    <label>Confirm Password</label>
                </div>
                <div class="button" (click)="resetPassword()">
                <a href="#">
                   <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Reset
                </a>
                </div>
                <!--<button type="submit" class="btn btn-outline-light"(click)="resetPassword()">Reset</button>-->
            </form>
        </div>
    </div>
   
</body>

</html>