<!-- <section class="home" id="home-page"> -->

    <!-- <div class="image">
        <img src=".\assets\home-img.svg" alt="">
    </div> -->

    <div class="content">
        
        <h1><b>STUDENT MANAGEMENT SYSTEM</b> <img src=".\assets\home-e.avif" alt=""></h1>
        <span><b>online education</b></span>
        <h3>A better learning future starts here.</h3>
       
       <!-- <a href="#courses" class="btn">our courses</a>-->
    </div>

<!-- </section> -->


<!--<div class="heading">
    <h1><b>STUDENT MANAGEMENT SYSTEM</b> <img src=".\assets\home-img.svg" alt=""></h1>
</div>-->